<div class="mx-auto p-2 mt-5 text-center" style="width: 600px;">
	<div class="mt-4">
		<div class="text-center">
		  <img src="https://flyclipart.com/thumbs/basecamp-app-1489049.png" alt="" class="rounded" style="width: 300px;">
		  <h1 class="mt-4 fs-3">A project Management tools for developers</h1>
		</div>
		<div class="text-center mb-3 mt-5">
			<%= link_to 'Sign_up' ,  new_user_registration_path , class:"btn btn-primary me-5" %>
			<%= link_to 'Login' , new_user_session_path , class:"btn btn-primary ms-5", style:"width: 80px" %>
		</div>
	</div>
</div>