<div >
  <p>
    
  </p>
</div>

<div class="card" id="<%= dom_id message %>">
  <div class="card-header text-danger">
    <%= current_user.email %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer"> <%= message.contenu %></footer>
    </blockquote>
  </div>
</div>