<h1>Editing discussion</h1>

<%= render "form", discussion: @discussion %>

<br>

<div>
  <%= link_to "Show this discussion", @discussion %> |
  <%= link_to "Back to discussions", discussions_path %>
</div>
