<div class="card" id="<%= dom_id truetask %>">
  <div class="card-header">
    <%= truetask.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= truetask.description %></h5>
    <p class="card-text text-danger">
      <%if truetask.done == true %>
        Done
      <%else%>
        Not Done
      <%end%>
    </p>
  </div>
</div>